@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Passion+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@keyframes pop-in  {
  0%  { opacity: 0; transform: scale(0.5); }
  100%  { opacity: 1; transform: scale(1); }
}

.browser {
  position: relative;
  width: 100%;
  height: 100%;
  &-message {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #303030;
    font-size: 2em;
  }
  .arrow-up {
    cursor: pointer;
    position: fixed;
    z-index: 2;
    font-size: 3em;
    font-weight: bold;
    bottom: 0.5em;
    color: #7F0404;
    text-shadow: 0 0 10px #330000;
    right: -0.5em;
    opacity: 0;
    transition: all 0.5s;
    &.active {
      right: 0.7em;
      opacity: 1;
      transition: right 0.75s;
    }
    &:hover {
      color: #AA0000;
    }
  }
  .title-list {
    max-height: 100%;
    overflow: scroll;
    .popin {
      animation:pop-in 0.5s;
    }
    .tl-item {
      position: relative;
      display: inline-block;
      vertical-align:top;
      img {
        width: 100%;
      }
      .title-info {
        position: absolute;
        display: none;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
  .title-page {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #dedede;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    .black-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.1;
    }
    .blur-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      filter: blur(3px);
    }
    .close-btn {
      position: absolute;
      text-shadow: 0 0 10px #330000;
      top: 10px;
      right: 10px;
      font-size: 30px;
      &:hover {
        color: #a2a2a2
      }
      &:active {
        color: white;
      }
    }
    .main-content {
      position: absolute;
      width: 80%;
      height: 400px;
      min-width: 700px;
      .poster {
        height: 100%;
        float: left;
        .poster-background {
          height: 100%;
          width: 280px;
          box-shadow: inset 0 0 100px #000000;
          background-color: rgb(37, 37, 37);
        }
      }
      .title-page-tabs {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin-bottom: 0.75em;
        .title-page-tab {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          flex-direction: column;
          margin: 0 1em 0 1em;
          font-size: 1.5em;
          font-weight: bolder;
          text-shadow: 0 0 10px #000000;
          color: lightgray;
          padding-bottom: 2px;
          .underline {
            width: 0px;
            height: 3px;
            background-color: red;
            margin-top: 2px;
            transition: width 0.35s;
          }
          &:hover {
            cursor: pointer;
            color: white;
            .underline{
              width: 100%;
            }
          }
          &.single {
            cursor: default;
          }
          &.active {
            color: white;
            .underline {
              width: 100%;
            }
          }
        }
      }
      .info {
        overflow: hidden;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        &-row {
          display: flex;
        }
        &-content {
          display: none;
          flex-direction: column;
          justify-content: space-between;
          height: 18em;
          padding: 2em 2em 0em 2em;
          &.active {
            display: flex;
          }
          &-1 {

          }
          &-2 {
            padding: 0;
            height: 100%;
            justify-content: center;
            align-items: center;
            iframe {
              width: 100%;
              height: 100%;
            }
          }
        }
        &-title {
          font-family: 'Passion One', cursive;
          font-style: normal;
          font-weight: 200;
          font-size: 2em;
        }
        &-rating {
          display: flex;
          width: 2.4em;
          justify-content: space-between;
          align-items: center;
          svg {
            width: 1em;
            height: 1em;
          }
          .rating {
            margin-top: 1px;
          }
        }
        &-genres{
          display: flex;
          flex-wrap: wrap;
          margin-left: 1em;
          .genre{
            width: 6em;
            margin-bottom: 0.5em;
            text-align: center;
            border-radius: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-right: 0.3em;
            background-color: rgba(0, 0, 0, 0.2);
            border: 1px solid gray;
          }
        }
        &-tagline {
          font-style: italic;
          font-size: 1.1em;
        }
        &-details {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 25em;
          .detail{
            font-size: 0.8em;
            div{
              font-size: 1.2em;
            }
          }
          .certification {
            font-size: 2em;
            font-family: 'Open Sans', sans-serif;
          }
        }
        &-overview {
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 3px;
          padding: 0.3em;
          font-size: 0.9em;
          line-height: 1.3em;
          overflow: scroll;
          max-height: 6em;
        }
        &-play {
          display: flex;
          justify-content: flex-start;
          width: 100%;
          color: ghostwhite;
          .watch-btn {
            &.disabled {
              pointer-events: none;
              color: gray;
              border-color: gray;
            }
            font-size: 1.1em;
            width: 5.5em;
            font-family: 'Open Sans', sans-serif;
            border: 1px solid #dedede;
            background-color: transparent;
            border-radius: 3px;
            margin-bottom: 0.1em;
            margin-right: 1em;
            padding: 0.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.5s, border-color 0.5s;
            i {
              font-size: 1.2em;
              margin-right: 0.65em;
            }
          }
          .watch-btn:hover {
            color: #439644;
            background-clip: text;
            border-color: #439644;
          }
          &.label {
            font-weight: 700;
          }
        }
      }
    }
  }
}
