@import "node_modules/font-awesome/scss/font-awesome.scss";

.header{
  font-family: 'Signika-lighter';
  line-height: 30px;
  font-size: 25;
  padding-right: 0.5em;
  text-align: center;
  width: 100%;
  height: 30px;
  background-color: #2d2d2d;
  color: #e6e6e6;
  -webkit-app-region: drag;
  z-index: 3;
  .win-btns-container {
    position: absolute;
    padding-left: 15px;
    float: left;
    line-height: 30px;

    .win-btn{
      display: inline-block;
      margin-right: 7px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
    }

    .close{
      background-color: #ff5c5c;
      border: 1px solid #e33e41;
    }

    .close:hover {
      background: #c14645;
      border: 1px solid #b03537;
    }

    .expand{
      background-color: #00ca56;
      border: 1px solid #14ae46;
    }

    .expand:hover {
      background: #029740;
      border: 1px solid #128435;
    }

    .minimize{
      background-color: #ffbd4c;
      border: 1px solid #e09e3e;
    }

    .minimize:hover {
      background: #c08e38;
      border: 1px solid #af7c33;
    }
  }
  .free-mode {
    color: lightgray;
    position: fixed;
    top: 0px;
    height: 30px;
    right: 16em;
    &.active {
      color: #1ec723;
      font-weight: bolder;
      &:hover {
        color: #0f7312;
        font-weight: bolder;
      }
    }
    &:hover {
      color: white;
    }
  }
  .search-popup {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    margin-top: 1.5px;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 90vh;
    width: 15em;
    z-index: 3;
    .popup-top {
      padding: 0;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      .search-input {
        margin: 0.2em auto 0em;
        width: 95%;
        height: 1.2em;
        display: flex;
        color: lightgray;
        align-items: center;
        border: solid 1px lightgray;
        border-radius: 53em;
        i {
          font-size: 0.8em;
          padding: 0.6em;
        }
        input {
          position: absolute;
          left: 1em;
          width: 75%;
          background: none;
          border: none;
          height: 1em;
          color: lightgray;
          padding-left: 2em;
          font-size: 0.8em;
        }
      }
    }
    .popup-mid {
      position: absolute;
      height: 0px;
      transition: height 0.6s;
      background-color: rgba(0, 0, 0, 0.8);
      top: 28px;
      left: 0px;
      transition-timing-function: ease-in;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      overflow: scroll;
      .popup-genre  {
        flex-grow: 1;
        font-size: 0.8em;
        height: 1.9em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 50%;
        height: 2em;
        cursor: pointer;
        color: lightgray;
        border-radius: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        h5 {
          margin-left: 2em;
          cursor: pointer;
        }
        &:hover {
          color: white;
        }
        &.active {
          color: red;
        }
      }
      .search-btn {
        margin: 0 auto;
        display: flex;
        width: 100%;
        overflow: hidden;
        color: white;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.2);
        height: 2em;
        background-color: #A40E0E;
        &:hover {
          background-color: #840505;
        }
        &:active {
          background-color: red;
        }
      }
    }
    &:hover{
      .popup-top {
        // height: 3em;
      }
      .popup-mid {
        height: 34em;
        max-height: 90vh;
      }
      .popup-bot {
        height: 40px;
      }
    }
  }

}
