@font-face {
    font-family: 'Signika-lighter';
    src: url('../assets/Signika-Light.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Signika-bold';
    src: url('../assets/Signika-Semibold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Signika-bolder';
    src: url('../assets/Signika-Bold.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'Signika-regular';
    src: url('../assets/Signika-Regular.ttf');
    font-weight: normal;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none; // You should add some other style for :focus to help UX/a11y
}

html, body{
  height: 100%;
  font-family: 'Signika-regular';
}

#container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
