@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
video::-webkit-media-controls {
  display:none !important;
}
::cue {
  background: none;
  text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
#torrent-player::-webkit-full-screen {
  width: 100% !important;
  max-width: 100% !important;
  height: 500px !important;
}

.player{
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: black;
  overflow-y: hidden;
  -webkit-app-region: drag;
  .spinner {
    top: 50vh;
    left: 50vw;
  }
  #torrent-player{
    display: none;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
  #video-header, #video-controls{
    position: absolute;
    z-index: 2147483647;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #e7e7e7;
    width: 100%;
    font-size: 20px;
  }
  #video-header.visible{
    top: 0em;
    -webkit-transition: top 0.25s;
  }
  #video-header{
    -webkit-transition: top 0.25s;
    top: -1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .control{
      margin-left: 0.4em;
      font-weight: bolder;
      font-size: 1.1em;
      &:hover{
        color: white;
      }
    }
    .player-title{
      font-size: 0.63em;
    }
  }
  #video-controls.visible{
    bottom: 0em;
    -webkit-transition: bottom 0.25s;
  }
  #video-controls{
    -webkit-transition: bottom 0.25s;
    bottom: -2em;
    position: absolute;
    padding: 7px 0px 7px 0px;
    -webkit-app-region: no-drag;
    height: 1.7em;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    .bot-controls{
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row;
      align-items: center;
      .left-controls, .right-controls{
        display: flex;
        align-items: center;
        .control{
          margin-right: 0.4em;
          &:hover{
            color: white;
          }
        }
      }
      .left-controls{
        flex-grow: 1;
        justify-content: flex-start;
        margin-left: 0.7em;
        .play-pause{
          width: 18px;
          .pause{
          }
          .play{
            display: none;
          }
        }
        .volume{
          width: 18px;
          &-off, &-down{
            display: none;
          }
          &-up{
            display: block;
          }
        }
        .volume-dummy{
          -webkit-app-region: no-drag;
          position: relative;
          width: 7vw;
          height: 8px;
          display: flex;
          align-items: center;
        }
        .volume-range{
          position: relative;
          width: 100%;
          height: 4px;
          background-color: white;
          border-radius: 1px;
          .range-progress{
            position: absolute;
            height: inherit;
            width: 4vw;
            background-color: #e43d26;
          }
        }
      }
      .right-controls{
        flex-grow: 12;
        position: relative;
        justify-content: flex-end;
        margin-right: 0.7em;
        .control{
          margin-left: 0.4em;
        }
        .subtitles-popup{
          max-width: 200px;
          justify-content: space-around;
          display: flex;
          flex-wrap: wrap;
          display: flex;
          flex-flow: column wrap;
          font-size: 0,9em;
          max-height: 40vh;
          overflow: scroll;
          width: 100%;
          justify-content: space-between;
        }
        .popup{
          position: absolute;
          display: none;
          bottom: 2.5em;
          width: 8vw;
          padding: 0.5em 0.5em 0.5em 0.5em;
          border-radius: 0.1em;
          background-color: #1f1e1e;
          border: 1px solid #2d2d2d;
          &-item{
            font-size: 0.8em;
            margin-bottom: 0.1em;
            cursor: pointer !important;
            &:hover{
              color: #FB5A5A;
            }
            &.active {
              color: red;
            }
          }
        }
        .control-cast{
          &.casting {
            color: #00BFF9;
          }
          display: none;
          img{
            width: 1.1em;
            margin-top: 0.2em;
          }
        }
      }
    }
    .top-controls{
      position: relative;
      display: flex;
      width: 100%;
      height: 8px;
      .time-left, .time-right{
        flex-grow: 1;
        font-size: 10px;
        font-weight: lighter;
      }
      .time-left{
        margin-left: 15px;
      }
      .time-right{
        margin-right: 15px;
      }
      .progress-dummy{
        flex-grow: 10;
        width: 100%;
        margin-right: 0.2em;
        margin-left: 0.2em;
        height: 8px;
        display: flex;
        align-items: center;
      }
      .progress-range{
        height: 4px;
        width: 100%;
        background-color: white;
        border-radius: 1px;
        .progress-progress{
          left: 0;
          width: 0px;
          height: inherit;
          background-color: #e43d26;
        }
      }
    }
    &.casting{

    }
  }
  .casting-panel{
    position: absolute;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 2.5em;
    color: white;
  }
}
